a{
    float: right;
    text-decoration: none;
    font-size:22px;
    margin-right:300px;
    color:#1a75ff;
}
.view table{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    line-height: 1.4;
    width:100%;
    border-collapse: collapse; 
}
.view table td{
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #004d80;

}
.view table th{
    color:#fff;
    background: #1a75ff;
    font-size: 19px;
    padding: 10px;
    text-align:center;
    border: 1px solid #004d80;
}
.view table tr:hover{
    background-color: #b3e0ff;
}