<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <title>Sample</title>
</head>
<body>
    <a href="logout">Logout</a>
    <div class="view">
    <center>
        <table>
            <tr>
                <th>Name</th>
                <th>DOB</th>
                <th>Phone</th>
                <th>Email</th>   
            </tr>
           {%for row in sqldata%}
           <tr>
                <td>{{row[1]}}</td>
                <td>{{row[2].strftime('%d-%m-%Y')}} </td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
           </tr>
           {%endfor%}
        </table>
    </center>
    </div>
</body>
</html>