<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/register.css">
    <title>Sample</title>
</head>
<body>
    <form action="/signup" method="post">
        <div class="content">
            <h1>Sign Up</h1>
            <table>
                 <!--Name-->
                <tr>
                    <td>Full Name</td>
                    <td><input type="text" placeholder="Full Name" name="fullName" required></td>
                </tr>
                <!--DOB-->
                <tr>
                    <td>DOB</td>
                    <td><input type="date" id="dob" name="dob" required></td>
                </tr>
                <!--Phone number-->
                <tr>
                    <td>Phone</td>
                    <td><input type="text" placeholder="Phone Number" name="phone" maxlength="10" minlength="10" required></td>
                </tr>
            <!--Email-->
            <tr>
                <td>Email</td>
                <td><input type="email" placeholder="Email" name="email" required></td>
            </tr>
            <!--Username-->
            <tr>
                <td>Username</td>
                <td><input type="text" placeholder="Username" name="username" required></td>
            </tr>
            <!--Password-->
            <tr>
                <td>Password</td>
                <td><input type="text" placeholder="Password" name="password" required></td>
            </tr> 
        </table>
            <center><button type="submit" class="button">Sign Up</button> </center>
            <div class="register-link">
                <p>Already have an account? <a href="login">Login here</a></p>
            </div>
        </div>
    </form>
</body>
</html>